.header,
.theme-switch {
     display: flex;
     align-items: center;
}

.header {
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--primary-bgcolor);
    justify-content: space-between;
    padding: 0 1rem;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 4px 0px;
}

.header__title {
   font-size: 1.25rem;
   font-weight: 800;
}

.theme-switch {
    cursor: pointer;
}

.theme-switch__icon {
    margin-right: 0.5rem;
}

.theme-switch__text {
     font-weight: 600;
     font-size: 1.1rem;
}



/* Light mode */
body.light {
    --background-color: #fafafa;
    --primary-bgcolor: #fff;
    --text-color: #111517;
    --input-color: #858585;
    --placeholder-color: #ccc;
    --secondary-bgcolor: #b3b3b3;
}


/* Dark mode */

body.dark {
    --background-color: #202c37;
    --primary-bgcolor: #2b3945;
    --text-color: #fff;
    --input-color: #fff;
    --placeholder-color: #e6e6e6;
    --secondary-bgcolor: #fff;
    --dropdown-color: #111517;
}

@media (min-width: 1000px) {
    .header {
        padding: 0 2rem;
    }
    .header__title {
        font-size: 1.3rem;
    } 
    .theme-switch__text {
        font-size: 1.2rem;
    }
} 



