.country-info {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

.country-info-header {
  margin-bottom: 2rem;
}

:root {
  --primary-color-light: #000;
  --primary-color-dark: #fff;
}

.back-button {
  display: flex;
  margin-top: 12%;
  margin-bottom: 1rem;
  align-items: center;
  padding: .7rem 2rem;
  justify-content: space-around;
  width: 18%;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 8px 2px;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
}

.dark-mode, 
.back-button {
  color: var(--primary-color-dark);
}

.light-mode,
.back-button {
  color: var(--primary-color-light);
}

.country-info-body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flag-container {
  flex: 0 0 300px;
  margin-right: 10rem;
}

.flag-container__image {
  width: 130%;
  height: 370px;
}

.info-container {
  flex: 1;
}

h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.country-info-details {
  display: flex;
  margin-bottom: 2rem;
}

.country-info-column {
  flex: 1;
  margin: .7rem auto;
  margin-bottom: .5rem;
}

.country-info-extra {
  flex: 1;
  margin-left: 5rem;
  margin: .7rem 0;
  margin-bottom: .5rem;
}

.country-info-column p,
.country-info-extra p {
  margin: 0;
  margin-bottom: 0.5rem;
  
}

.country-border__header {
  font-weight: 600;
  margin-bottom: 1rem;
}

.country-border__countries {
  display: flex;
  flex-wrap: wrap;
}

.country-border__country {
  margin: 0 .7rem .7rem 0;
  padding: .6rem 1rem;
  border-radius: .2rem;
  background-color: var(--primary-bgcolor);
  box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 4px 0.5px;
  cursor: pointer;
}

.country-border__country:hover {
  background-color: #e0e0e0;
}

.country-border__country:first-child {
  margin-left: 0;
}

.country-border__country:last-child {
  margin-right: 0;
}

.country-border__country:only-child {
  margin: 0;
}

.country-border__country:focus,
.country-border__country:active {
  outline: none;
  box-shadow: 0 0 0 2px #333;
}
